body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

ul.menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

ul.menu li {
  float: left;
}

ul.menu li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

ul.menu li a:hover:not(.active) {
  background-color: #ddd;
}

ul.menu li a.active {
  color: white;
  background-color: #008cba;
}

/* Required for DataTables button placement */
div.dt-search {
    float: right;
}

/* Required for DataTables button placement */
div.dt-info {
    float: left;
    margin-top: 0.8em;
}

/* Required for DataTables button placement */
div.dt-paging {
    float: right;
    margin-top: 0.5em;
}

table.counting {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: auto;
}

table.counting td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

table.counting td {
  text-align: center;
}

/*
table.counting td:nth-child(3) {
  text-align: left;
}
*/

table.counting tr:nth-child(even) {
  background-color: #f3f3f3;
}

table.counting tr:hover {
  background-color: #ddd;
}

table.counting th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #008cba;
  color: white;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.danger-message {
    padding: 10px;
    background-color: #D81920;
    color: white;
    font-weight: bold;
}

.success-message {
    padding: 10px;
    background-color: #03A652;
    color: white;
    font-weight: bold;
}

.warning-message {
    padding: 10px;
    background-color: #FDAF16;
    color: white;
    font-weight: bold;
}

.code-block {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    position: relative;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
